@font-face {
	font-family: 'Banny';
	font-display: swap;
	src: url('../fonts/Banny-BoldRound.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	font-display: swap;
	src: url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	font-display: swap;
	src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	font-display: swap;
	src: url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?nkpqkm');
	src: url('../fonts/icomoon.eot?nkpqkm#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?nkpqkm') format('truetype'),
		url('../fonts/icomoon.woff?nkpqkm') format('woff'),
		url('../fonts/icomoon.svg?nkpqkm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	// speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before {
	content: '\f041';
}
.icon-phone:before {
	content: '\f095';
}
.icon-envelope:before {
	content: '\f0e0';
}
