@import 'vars';
@import 'fonts';
@import 'vendor/nullstyle';

html {
	font-size: 62.5%;
}

body {
	// background-color: $primary;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.5;
	color: $black;
}

._container {
	max-width: $mw + px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
}

@import 'blocks/header';
@import 'blocks/btn';
@import 'blocks/intro';
