@import 'vars';
@import 'fonts';
@import 'vendor/nullstyle';

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.5;
	color: $black;
}

.page {
	overflow: hidden;
}

._container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
}

.burger,
.burger__title {
	display: none;
}

.text-info {
	text-align: center;
	color: rgba($graphite, 0.5);
	font-weight: 400;
	font-size: 13px;
	height: 50px;
	&--events {
		color: rgba($white, 0.5);
		height: 50px;
	}
}

.hidden {
	visibility: hidden;
}

.about {
	display: flex;
	justify-content: space-between;
}

.map {
	margin-top: 100px;
}

@import 'blocks/header';
@import 'blocks/btn';
@import 'blocks/intro';
@import 'blocks/main';
@import 'blocks/form';
@import 'blocks/slider';
@import 'blocks/menu';
@import 'blocks/inside';
@import 'blocks/footer';
@import 'blocks/media';
