.main {
	display: flex;
	flex-direction: column;
	text-align: center;
	// .main__suptittle
	&__suptittle {
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.5em;
		text-transform: uppercase;
	}
	// .main__title
	&__title {
		position: relative;
		font-family: 'Banny';
		font-size: 96px;
		margin-bottom: 35px;
		text-transform: uppercase;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 0);
			width: 60px;
			height: 5px;
			border-radius: 50px;
			background-color: $yellow;
		}
		// .main__title--sm
		&--sm {
			color: $black;
			font-size: 36px;
			line-height: 2.2;
			margin-bottom: 15px;
		}
	}
	// .main__subtitle
	&__subtitle {
		font-weight: 700;
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 20px;
	}
	// .main__text
	&__text {
		font-weight: 400;
		line-height: 24px;
	}
	// .main__footer
	&__footer {
		display: flex;
		justify-content: center;
	}
}
